
@import '~react-agenda/build/styles.css';
@import '~react-datetime/css/react-datetime.css';


/* body {
   background-image: url(".ico");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
} */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shift {
  border: 1px solid black;
}

.resolved-alert{
border: 3px solid black;
}

.unresolved-alert{
  border: 3px solid red;
}

.shift {
  padding-left: 20px;
}

.alert-tile {
  width: 500px;
  height: 300px;
}

.alert-div{
  padding-right: 700px;
  padding-bottom: 25px;
}

.people-tile {
  width: 500px;
  height: 300px;
}

.people-div{
  padding-left: 700px;
}

.schedule{
  border: 3px solid black;
  padding-left: 150px;
  padding-right: 150px;
}

.shift-card {
  height: 600px;
}

.shift-card-container {

}

.shift-logs {
    border: 3px solid black;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}
